@use "./colors.scss" as *;

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
  @media (min-width: 768px) {
    visibility: hidden;
  }
  &_line {
    background-color: $primary;
    width: 1.95rem;
    height: 0.2rem;
    border-radius: 0.5rem;
  }
}
