@use "./colors.scss" as *;

body[data-theme="light"] {
  --primary-background: #{$background-light};
  --primary-heading: #{$heading-dark};
  --primary-btn: #{$primary-light};
  --primary-hover: #{$primary-hover-light};
  --primary-active: #{$primary-active-light};
  --input-bg: #{$input-bg-light};
  --text: #{$text-dark};
  --placeholder: #{$placeholder-light};
}
body[data-theme="dark"] {
  --primary-background: #{$background-dark};
  --primary-heading: #{$heading-light};
  --primary-btn: #{$primary-dark};
  --primary-hover: #{$primary-hover-dark};
  --primary-active: #{$primary-active-dark};
  --input-bg: #{$input-bg-dark};
  --text: #{$text-light};
  --placeholder: #{$placeholder-dark};
}

.login {
  padding: 3rem 0;
  width: 100%;

  .toast {
    @media (max-width: 600px) {
      width: 250px;
    }
  }

  &_title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--primary-heading);
    // transition: color 0.15s ease-in-out;
  }

  &_form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 75%;
    margin: auto;
    @media (min-width: 768px) {
      width: 40%;
    }

    &_input {
      padding: 0.5rem 0.75rem;
      border-radius: 0.4rem;
      background-color: var(--input-bg);
      color: var(--text);
      font-weight: 600;
      &::placeholder {
        color: var(--placeholder);
      }
    }
  }

  .loginBtn {
    background-color: var(--primary-btn);
    color: #fff;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.4rem;
    transition: 0.15s ease-in;

    @media (min-width: 600px) {
      &:hover {
        background-color: var(--primary-hover);
      }
    }
    &:active {
      background-color: var(--primary-active);
    }
  }
}
